:root {
  --main-red-color: #932D3C;
  --main-yellow-color: #E89345;
  --light-color: #FEF8F8;
  --roboto: 'Roboto', sans-serif;
  --cinza: #555555; 
  --rosa: #EE9591;
  --cinza-claro: #F6F6F6;
  --cinza-medio: #888888;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.teste{
  background-color: #282c34;
  display: flex;
  flex-direction: column;
}

.container-animation {
	position: relative;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 40px 0;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#border-vaga{
  border-color: var(--rosa)!important;
}

#text-match{
  color: var(--main-red-color)!important;
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
